
<div class="posts">
    <div ng-repeat="post in posts">

        <div class="post">
            <h3 ng-click="drillDown(post._id)" ng-hide="post.title == ''" class="h1 post-heading">{{post.title}}</h1>
            <div class="post-body">
                <div ng-click="drillDown(post._id)" class="img-wrapper">
                    <img class="thumb" ng-src="{{post.img}}" />
                </div>
                <div class="post-snippet">{{post.snippet}}</div>
                
            </div>
            
            <div class="post-actions">
            <div class="dropdown">
                <button class="dropbtn fa fa-share-alt"></button>
                <div class="dropdown-content">
                    <a href="#" ng-click="facebookclick(post._id)" class="fa fa-facebook-square"></a>
                    <a href="#" class="fa fa-twitter-square"></a>
                    <a href="#" class="fa fa-envelope"></a>
                    <a href="#" class="fa fa-pinterest-square"></a>
                </div>

            </div>
            <div class="likeable">
                <span class="fa fa-thumbs-o-up"></span>
                <span class="fa fa-thumbs-o-down"></span>
            </div>
        </div>
            
            
        </div>
        
        <hr class='thick' />
    </div>            
</div>                
