@import "blogpost.less";
@import "singlepost.less";
@base-border-color: rgb(34, 34, 34);

html {
    height:100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}


body {
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url(http://2.bp.blogspot.com/-MQ_9V5r65io/VR1DrZuIJEI/AAAAAAAAEvQ/jgvYrjtlB3k/s1600/13.png);
    background-attachment: scroll!important;
    background-repeat: repeat!important;
    background-size: auto!important;
    .header-wrapper {
        background: @base-border-color;
        min-height: 180px;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0;
        
        .content-header-wrapper {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            max-width: 1100px;
            padding: 0;    
            height: 40%;
            
            .header-logo {
                
                position: relative;
                bottom: -11px;
                margin: 0;
                padding: 0;    
                color:white;
                
            }
        }
        nav {
            color:white;
            float: right;
            position: relative;
            bottom:0;
            margin-top: 25px;   
            ul {
                list-style: none;
                display: inline-block;
                li {
                    float: left;
                    margin-left: 35px;
                    position: relative;
                }
            }
        }
    }
    
    .post-heading {
        color: white;
        background-color: rgba(100, 100, 100, .5);
        padding: 1rem;
        max-height: 6rem;
        overflow: hidden;
    }
    
    @media (min-width: 1200px){ 
        .container {
            width: 1170px;
            padding:2% 0;
        }
    }
    
    hr.thick {
        border-top: dotted 3px;
        border-color:@base-border-color;
    }
    
    footer {
        position: relative;
        bottom:0px;
        width:100%;
        padding-bottom:2%;
        margin:10 auto;
        background-color:grey;
        ul.social-buttons {
            list-style: none;
            width:100%;
            li {
                width:50px;
                float:left;
            }                
        }
    }
    
}